.cart {
    min-height: 100%;
    width: 100%;
    padding: 20px;
}

.cartItemContainer {
    max-width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--bg-one);
    color: var(--color-two);
    border-radius: 6px;
}
    
.cartItemContainer .cartItem, .cartTotalPrice {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.cartItemContainer .cartItem {
    margin: 0 10px;
    border-bottom: 1px solid gray;
}

.cartItemContainer .cartItem > div:first-child {
    display: flex;
    align-items: center;
}

.cartItemContainer .cartItem > div:first-child >div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cartImg {
    height: 60px;
    margin: 8px;
    border-radius: 6px;
}

.cartItem .itemPrice {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 6px;
    text-align: center;
}

.cartTotalPrice button{
    font-size: 16px;
    padding: 4px 8px;
    border: none;
    border-radius: 6px;
    outline: none;
    font-weight: 700;
}

.cartBtnContainer span {
    background-color: var(--bg-one);
    padding:3px  6px;    
}

.cartBtnContainer button{
    background-color: black;
    color: white;
    width: 26px;
    height: 26px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}   

.cartTotalPrice p{
    margin-right: 10px;
    font-weight: 700;
}

.cartTotalPrice button {
    background-color: rgb(2, 199, 2);
    color: var(--color-two);
    cursor: pointer;
}

.checkoutContainer {
    padding: 20px;
}

.checkoutContainer .addressInputContainer {
    position: relative;
    margin-bottom: 20px;
    min-height: 100px;
    max-width: 660px;
    background-color: var(--bg-one);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.checkoutContainer > .addressInputContainer > button {
    text-wrap: nowrap;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    font-weight: 600;
    background-color: #02C702;
    color: white;
    padding: 3px 6px;
    cursor: pointer;
}

.checkoutContainer > .addressInputContainer > .showInCorner {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    color: var(--color-two);
    padding: 0;
    z-index: 18;
}

.checkoutContainer > .addressInputContainer > textarea {
    resize: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: var(--bg-one);
    color: var(--color-two);
    border: none;
    border-radius: 4px;
    z-index: 10;
}
