
.profile {
    position: relative;
    min-height: 100vh;
    background-color: var(--bg-two);
    color: var(--color);
}

.editProfileContainer {
    min-height: 100vh;
    background-color: var(--bg-two);
    color: var(--color);
    display: flex;
    justify-content: center;
}

.profile .jiaKmf {
    position: absolute;
    left:43%;
    top: 150px;
    color: gray;
}

.profileDisplayContainer {
    margin: 20px 20px 0px 20px;
    display: flex;
    padding: 20px;
}

.profileImgContainer {
    height: 100px;
    width: 100px;
    margin-right: 15px;
    display: grid;
    place-items: center;
}

.profileImgContainer .uploadImage {
    padding: 4px 8px;
    margin: -5px ;
    color: var(--color-two);
    font-weight: 700;
    letter-spacing: 1px;
    text-decoration: underline;
    text-wrap: nowrap;
    background-color: transparent;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.profileImg {
    border-radius: 50%;
    width: 113px;
    height: 113px;
    object-fit: cover;
}

.profileDisplayInfoContainer {
    padding: 15px;
    margin-right: auto;
}

.profileDisplayInfoContainer input {
    padding: 2px 4px;
    font-size: 22px;
    font-weight: 780;
    color: var(--color-two);
    background-color: var(--bg-one);
    outline: none;
    border: 1px solid var(--color);
    border-radius: 4px;
}

.profileInfo {
    margin:  0 20px;
}

.profileInfoItem {
    background-color: var(--bg-one);
    position: relative;
    width: 100%;
    max-width: 700px;
    border: 1px solid var(--color);
    border-radius: 4px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
}

.profileInfoItem > input {
    background-color: var(--bg-one);
    border: none;
    border-left: 1px solid var(--color);
    outline: none;
}

.profileInfoItem::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: var(--bg-one);
    transform: translateY(12px);
}

.profileInfoItem > * {
    padding: 8px;
    color: var(--color-two);
}

.profileInfoItem > span,
.selectionContainer > span {
    font-weight: 750;
    letter-spacing: 1px;
}

.selectionContainer {
    color: var(--color-two);
    width: 100%;
    max-width: 700px;
    border: 1px solid var(--color);
    margin: 20px;
    padding: 8px;
    background-color: var(--bg-one);
    display: flex;
    justify-content: space-between;
}

.selectionContainer > select {
    width: 200px;
    margin: -9px;
    background-color: transparent;
    border:1px solid var(--color);
    color: var(--color-two);
}

.selectionContainer > select option {
    background-color: var(--bg-one);
    color: var(--color-two);
}

.logOut {
    margin: 20px;
    margin-left: 40px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    color: white;
    font-size: 16px;
    background-color: rgb(14, 123, 248);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.profileEditBtns {
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0 40px;
}

.profileEditBtns button{
    width: 100%;
    font-size: 18px;
    font-weight: 550;
    outline: none;
    padding: 8px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 4px;
}

@media (max-width:678px) {
    .profileDisplayContainer {
        margin: 0px;
        display: flex;
        padding: 20px 20px 0;
    }

    .profileDisplayContainer{
        padding-bottom: 0px ;
    }

    .profileInfo {
        margin:  0;
        padding: 10px 10px 0;
        width: 100%;
    }
    
    .profileInfoItem {
        width: 100%;
        max-width: 700px;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
    }

    
    .selectionContainer {
        width: 100%;
        max-width: 700px;
        margin: auto;
        padding: auto;
        display: flex;
        justify-content: space-between;
    }

    .profile .logOut {
        width: 80vw;
    }
/* edit page layout  */
    .profileDisplayContainer {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    .editlink {
        position: absolute;
        top: 100px;
        right: 20px;
    }
    
    .profileInfoItem > input {
        width: 100%;
    }

    .profileInfoItem label,
    .selectionContainer > label {
        text-wrap: nowrap;
        min-width: 100px;
    }

    .selectionContainer {
    justify-content: flex-start;
    }

    .selectionContainer select {
        width: 100%;
    }

    .profileEditBtns {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 20px 10px;
    }
    
    .profileEditBtns button{
        width: 100%;
    }
}
/* 
@media (max-width:520px) {
    .profileDisplayContainer {
        padding: 0px ;
    }
} */