.admin {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adminFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color:var(--bg-one);
    border-radius: 6px;
}

.adminFormContainer > form {
    width: clamp(450px, 100%, 660px);
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 24px;
}

.adminFormContainer > form > div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px ;
    border-bottom: 1px solid var(--color);
    font-size: 20px;
    font-weight: 570;
    color: var(--color-two);
}

.adminFormContainer > form > div:last-child{
    border-bottom: none;
}

.adminFormContainer > form input[type='text'],
.adminFormContainer > form input[type='number'] {
    min-height: 100%;
    width:clamp(220px ,100%, 250px);
    padding: 2px 6px;
    font-size: 20px;
    color: var(--color-two);
    border: 1px solid var(--color);
    background-color: var(--bg-one);
    outline: none;
}

.admin input[type='file']{
    cursor: pointer;
}

.admin .addProduct {
    background-color: aqua;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 4px 12px;
    font-size: 18px ;
    font-weight: 500;
    cursor: pointer;
    margin-left: auto;
}
