header {
    position: fixed;
    top: 0;
    left: 0 ;
    z-index: 20;
    width: 100%;
    max-width: 1499px;
    height: var(--header-height);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-one);
    color: var(--color);
    box-shadow: var(--header-shadow);
    transition: transform 0.3s ease-in-out;
}

header.hidden {
    transform: translateY(-100%);
}

.navList, .extarnalLink {
    display: flex;
    list-style: none;
}

.navLink {
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 550;
    letter-spacing: .7px;
    margin:10px  20px;
}

.darkModeContainer {
    margin: auto;
}

.darkModeToggleContainer {
    display: flex;
    background-color: var(--bg-one);
    border: none;
    outline: none;
    cursor: pointer; 
    margin: 12px;
    font-size: 17px;
    font-weight: 550;
}

.navIcon {
    font-size: 10px;
    margin: 4px;
}

.contentPusher {
    margin-top: var(--header-height);
}

.carticon {
    position: relative;
    z-index: 20;
}

.carticon .cartCount {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    color: black;
    font-weight: 700;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 20;
}

.cartCount::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(1, 255, 128);
    position: absolute;
    z-index: -1;
}

@media (max-width: 768px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        padding: -1;
    }

    .websiteLogo {
        display: none;
    }

    .navList{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        margin:auto;
        padding: auto;
        list-style: none;
    }

    .extarnalLink {
        display: flex;
        align-items: center;
    }

    .navIcon {
        font-size: 10px;
        margin: 0px;
    }
    
    .navLink > span {
        display: none;
    }

    .cartlink {
        position: fixed;
        bottom: 10px;
        right: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: max-content;
        height: 66px;
        background-color: var(--bg-two);
        border: 3px solid var(--color);
        border-radius: 50%;
        transition: 0.1s ;
        transition: transform 0.3s none, opacity 0.3s none;
        z-index: 0;
    }
    
    .darkModeToggleContainer {
        display: flex;
        flex-direction:column-reverse;
        font-size: 14px;
        font-weight: 700;
    }
    
  }
