header {
    position: fixed;
    top: 0;
    left: 0 ;
    width: 100%;
    max-width: 1499px;
    height: var(--header-height);
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-one);
    color: var(--color);
    box-shadow: var(--header-shadow);
    transition: transform 350ms ease-out;
    z-index: 20;
}

header.hidden {
    transform: translateY(-100%);
}

.websiteLogo {
    position: fixed;
    top: 4px;
    left: 10px;
    padding: 0;
    font-size: 32px;
    letter-spacing: 0.03rem;
    height: var(--header-height);
}

header .extarnalLink {
    position: absolute;
    top: 0px;
    right: 26px;
    height: var(--header-height);
    display: flex;
    align-items: center;
    gap: 20px;
}

header > nav {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-one);
    transition: transform 400ms ease-out;
}

.navList {
    display: flex;
    align-items: center;
}

.navList .navLink{
    margin: 0 24px;
    font-size: 17px;
    font-weight: 550;
}

.navLink{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.darkModeContainer {
    margin: auto;
}

.darkModeToggleContainer {
    display: flex;
    background-color: var(--bg-one);
    border: none;
    outline: none;
    cursor: pointer; 
    margin: 12px;
    font-size: 17px;
    font-weight: 550;
}

.contentPusher {
    margin-top: var(--header-height);
}

.carticon {
    position: relative;
    z-index: 20;
}

.carticon .cartCount {
    position: absolute;
    top: 0;
    right: 0;
    width: 18px;
    color: black;
    font-weight: 700;
    display: grid;
    place-items: center;
    border-radius: 50%;
    z-index: 20;
}

.cartCount::before {
    content: '';
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: rgb(1, 255, 128);
    position: absolute;
    z-index: -1;
}

@media (max-width: 768px) {
    header.hidden {
        background-color: transparent;
        transform:none;
    }
    
    nav.hidden {
        transform:translateY(110%);
    }

    header {
        top: auto;
        bottom: 0;
        padding: 0;
        justify-content: center;
    }

    header > nav {
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .websiteLogo {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0 16px;
        font-size: 32px;
        letter-spacing: 0.03rem;
        background-color: var(--bg-one);
        height: var(--header-height);
    }

    header .extarnalLink {
        position: relative;
        right: 0px;
        height: var(--header-height);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0;
    }

    header .navList {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 0;
    }

    header .navLink > span {
        display: none;   
    }
    
    .navList .navLink  {
        margin: 0;
    }

    .cartlink {
        position: fixed;
        bottom: 80px;
        right: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 55px;
        width: 55px;
        background-color: var(--bg-two);
        border: 3px solid var(--color);
        border-radius: 50%;
        transition: 0.1s ;
        transition: transform 0.3s none, opacity 0s none;
        z-index: 0;
    }
    
    .darkModeToggleContainer {
        display: flex;
        flex-direction:column-reverse;
        font-size: 14px;
        font-weight: 700;
    }
    
  }
