
.LogIn {
    height: calc(100vh - var(--header-height));
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color);
    background-color: var(--bg-two);
}

.formContainer {
    max-width: 300px;
    width: 100%;
    height:360px;
    padding: 20px;
    border-radius:8px ;
    box-shadow: 0 0px 4px var(--shadow);
    background-color: var(--bg-one);
}

.formContainer > h2 {
    margin-top: -10px;
    margin-bottom: 20px;
    color: var(--color-two);
}

.formContainer > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 10px;
}

.inputContainer {
    margin-bottom: 10px;
    width: 100%;
}

.inputContainer *{
    font-size: 16px;
    font-weight: 550;
    display: block;
    width: 100%;
}

.inputContainer label {
    margin: 4px 0;
}

.inputContainer input {
    padding: 3px;
    outline: none;
    border: 1px solid var(--border);
    border-radius: 5px;
    background-color: var(--bg-color);
    color: var(--color-two);
}

.inputContainer .message {
    font-size: 12px;
    color: red;
}

.hide{
    visibility: hidden;
}

.formContainer > form > button {
    font-size: 16px;
    font-weight: 550;
    color: white;
    margin-top: 10px;
    padding: 5px 12px;
    background-color: black;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.registerLinkContainer {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 5px ;
    border-bottom: 1px solid var(--color);
    color: var(--color-two);
}

.registerLinkContainer .globleLinkStyle {
    color: var(--color);
}

.gAuthBtn {
    margin: 10px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    padding: 4px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
}

/* Log in and Sign up page share same style codes */