* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

:root {
    --header-height:55px;
    --header-shadow: 0 6px 10px rgba(0, 0, 0, 0.062);
    --bg-one:#FFFFFF;
    --bg-two:#F0F2F5;
    --color:black;
    --color-two:black;
    --shadow:rgba(0, 0, 0, 0.096);
    --border:rgb(77, 77, 77);
}

[data-theme='dark'] {
    --bg-one:#242526;
    --bg-two:#18191A; 
    --color:gray;
    --color-two:#f0f0f0;
    --shadow:rgba(107, 107, 107, 0.096);
    --border:rgb(156, 156, 156);
}

.app { 
    width: 100%;
    min-height: calc(100vh - var(--header-height));
    background-color: var(--bg-two);
    color: var(--color);
}

.globleLinkStyle {
    color: var(--color);
    text-decoration: none;
    cursor: pointer;
}


