.card {
    position: relative;
    min-width: 220px;
    max-width: 400px;
    width: 100%;
    height: 312px;
    padding: 1px;
    flex: 1;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--bg-one);
    z-index: 5;
}

.cardImage {
    width: 100%;
    height: 100%;
    object-fit:contain ;
    object-position: center;
    border-radius: 4px;
}

.CardImgContainer {
    width: 100%;
    height:160px;
    background-color: white;
}

.card h3 {
    margin: 8px;
    color: var(--color-two);
}

.cardInfo {
    padding:0 8px ;
    margin-top: auto;
}

.rating {
    display: flex;
    align-items: center;
}

.card .btnContainer {
    margin: 4px 0 10px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.addCartBtn, .addWishBtn {
    background-color: rgb(2, 199, 2);
    color: aliceblue;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    border: none;
    border-radius: 4px;
    padding: 4px 10px;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 768px) { 
    .addCartBtn, .addWishBtn {
        font-size: 20px;    
    }
}