.shop {
    min-height: 100vh;
    background-color: var(--bg-two);
    color: var(--color-two);
}

.cardContainer {
    position: relative;
}

.cardContainer .jiaKmf {
    position: absolute;
    left:43%;
    top: 150px;
    color: gray;
}
